aiohttp
pyrogram
TgCrypto
asyncio
pymongo
telethon==1.19.5
selenium
pillow
faker
bs4
bing_image_downloader
flag
countryinfo
heroku3
gitpython
dnspython
html2text
telegraph
pygments
pytz
google_trans_new
PyDictionary
secureme
bs4
numpy
opencv-contrib-python
